---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Inicio - GuitarLA' description='Pagina de tienda de instrumentos musicales, guitarras, cursos, blog y mas'>
	<main>
		<h1>Inicio</h1>
	</main>
</Layout>

<style>
	
</style>
