---
import type { DatumAttributes as Props } from '../interfaces/guitarras.interface'; 

// export interface Props {
//   guitarra: DatumAttributes;
// }

const {  } = Astro.props;

---

<div class="guitarra">
  <div class="contenido">
    <h3>{nombre}</h3>
  </div>
</div>
